includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - dabdash-for-woocommerce.php
        - uninstall.php
        - includes
    bootstrapFiles:
        - tests/php/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
