includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - dabdash-sync-for-wordpress.php
        - uninstall.php
        - includes
    bootstrapFiles:
        - tests/php/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
